* { margin:0; padding:0; box-sizing:border-box; }

body {
	width: 90%;
}
.main-content .row:before footer:before .clearfix:before
.main-content .row:after {
   content: none;
}
.row {
	width: 100%;
	margin: 10px 10px 10px 50px auto;
}
.navbar #whee {
  margin-bottom: 0;
  display: none; 
}
.navbar:after {
	display: none
}
.navbar:before {
	display: none; 
}
.threeImgs {
	width: 100%;
}
.threeboxes {
	width: 30%;
	float: both;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}